In [34]:
import numpy as np
import pandas as pd
import random
import math

random.seed(123)
pd_iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
pd_iris.columns = ['petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'class']
rand_axis0 = [random.randint(0,150) for _ in range(5)]
rand_axis1 = [random.randint(0, 4) for _ in range(5)]
pd_iris.iloc[rand_axis0, rand_axis1] = np.NaN

rand_axis0 = [random.randint(0,150) for _ in range(5)]
rand_axis1 = [random.randint(0, 4) for _ in range(5)]
pd_iris.iloc[rand_axis0, rand_axis1] = 123.4 + random.randint(0,4)/10

df1 = pd.DataFrame(np.arange(100, 120).reshape(4,5), dtype='str')

pd_iris

     petal_length  petal_width  sepal_length  sepal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [63]:
# 결측치 : 4개 
# 전체 petal_length 의 평균치로 대체(0으로 대체할 시 전체 평균에 영향을 미치기 때문)
print(pd_iris['petal_length'].hasnans)
print(pd_iris['petal_length'].isna().value_counts())
pd_iris['petal_length'].replace(np.NaN, a.mean())

# 오류치 : 없음
print(pd_iris['petal_length'].unique())

# 이상치 : 없음
q1, q3 = pd_iris['petal_length'].quantile([0.15, 0.75])
iqr = q3 - q1
upper = q3 + 1.5 * iqr
lower = q1 - 1.5 * iqr
print(lower, upper)
filter1 = pd_iris['petal_length'] > upper
filter2 = pd_iris['petal_length'] < lower
print(filter1.value_counts())
print(filter2.value_counts())

# petal_length의 평균치
print(pd_iris['petal_length'].mean())
# 평균치 : 5.843448275862068

False
False    149
Name: petal_length, dtype: int64
[4.9        4.7        4.6        5.         5.4        4.4
 4.8        4.3        5.84344828 5.7        5.1        5.2
 5.5        4.5        5.3        7.         6.4        6.9
 6.5        6.3        6.6        5.9        6.         6.1
 5.6        6.7        5.8        6.2        6.8        7.1
 7.3        7.2        7.7        7.4        7.9       ]
2.8999999999999995 8.5
False    149
Name: petal_length, dtype: int64
False    149
Name: petal_length, dtype: int64
5.843448275862068

In [68]:
df1.columns = ['petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'class']
df = pd.concat([pd_iris, df1], ignore_index=True)
df

    petal_length petal_width sepal_length sepal_width           class
0            4.9         3.0          1.4         0.2     Iris-setosa
1            4.7         3.2          1.3         0.2     Iris-setosa
2            4.6         3.1          1.5         0.2     Iris-setosa
3            5.0         3.6          1.4         0.2     Iris-setosa
4            5.4         3.9          1.7         0.4     Iris-setosa
..           ...         ...          ...         ...             ...
148          5.9         3.0          5.1         1.8  Iris-virginica
149          100         101          102         103             104
150          105         106          107         108             109
151          110         111          112         113             114
152          115         116          117         118             119

[153 rows x 5 columns]